.header {
    background-color: #fff;
    color: #033;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a .logo {
  cursor: pointer;
  text-decoration: none;
}

img.logo {
  height: 30px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 1rem;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  cursor: pointer;
}


nav a.active {
  color: #333;
  font-weight: bold;
  text-decoration: underline;
}